@charset 'UTF-8';
//Variables
// Color
$color-pri:#569bba;
$color-sec:#d5e6ee;
$color-border: #EEE;
$color-link: #000;

// Font
$font-pri:'Poppins';

html,
body {
    font-size: 16px;
    font-family: $font-pri; 
}

a {
    color: $color-link;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

.clearfloat {
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

// Heading

// Font Face

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

@font-face {
    font-family: 'System';
    font-style: normal;
    font-weight: 400;
    src: 
    local(".SFNSText-Light"), 
    local(".HelveticaNeueDeskInterface-Light"), 
    local(".LucidaGrandeUI"), 
    local("Ubuntu Light"), 
    local("Segoe UI Light"), 
    local("Roboto-Light"), 
    local("DroidSans"), 
    local("Tahoma");
}

@font-face {
    font-family: 'Chatthai UI';
    src: url('../fonts/chatthaiui/cschatthaiui-webfont.eot');
    src: url('../fonts/chatthaiui/cschatthaiui-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chatthaiui/cschatthaiui-webfont.woff2') format('woff2'),
         url('../fonts/chatthaiui/cschatthaiui-webfont.woff') format('woff'),
         url('../fonts/chatthaiui/cschatthaiui-webfont.ttf') format('truetype'),
         url('../fonts/chatthaiui/cschatthaiui-webfont.svg#cs_chatthaiuiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'TF Srivichai';
    src: url('../fonts/TFSrivichai/tf_srivichai-webfont.eot');
    src: url('../fonts/TFSrivichai/tf_srivichai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TFSrivichai/tf_srivichai-webfont.woff2') format('woff2'),
         url('../fonts/TFSrivichai/tf_srivichai-webfont.woff') format('woff'),
         url('../fonts/TFSrivichai/tf_srivichai-webfont.ttf') format('truetype'),
         url('../fonts/TFSrivichai/tf_srivichai-webfont.svg#tf_srivichairegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'TF Srivichai';
    src: url('../fonts/TFSrivichai/tf_srivichai_bol-webfont.eot');
    src: url('../fonts/TFSrivichai/tf_srivichai_bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TFSrivichai/tf_srivichai_bol-webfont.woff2') format('woff2'),
         url('../fonts/TFSrivichai/tf_srivichai_bol-webfont.woff') format('woff'),
         url('../fonts/TFSrivichai/tf_srivichai_bol-webfont.ttf') format('truetype'),
         url('../fonts/TFSrivichai/tf_srivichai_bol-webfont.svg#tf_srivichaibold') format('svg');
    font-weight: 700;
    font-style: normal;

}


// Import
@import 'bootstrap.min.css';
@import 'fontawesome-all.min.css';
@import 'animate.css';

@import '_head';
@import '_body';
@import '_foot';
@import '_custom';
@import '_responsive';
